---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?latlng=44.83175929999999,-0.5697435&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "76",
                       "short_name" : "76",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Rue Leyteire",
                       "short_name" : "Rue Leyteire",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Bordeaux",
                       "short_name" : "Bordeaux",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Gironde",
                       "short_name" : "33",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Aquitaine",
                       "short_name" : "Aquitaine",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "France",
                       "short_name" : "FR",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "33800",
                       "short_name" : "33800",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "76 Rue Leyteire, 33800 Bordeaux, France",
                 "geometry" : {
                    "location" : {
                       "lat" : 44.83175929999999,
                       "lng" : -0.5697435
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 44.83310828029149,
                          "lng" : -0.5683945197084979
                       },
                       "southwest" : {
                          "lat" : 44.83041031970849,
                          "lng" : -0.5710924802915019
                       }
                    }
                 },
                 "types" : [ "street_address" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Capucins - Victoire",
                       "short_name" : "Capucins - Victoire",
                       "types" : [ "neighborhood", "polit[...]
